@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-indigo-500;
  }

  .btn {
    @apply w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 rounded-lg font-semibold transition;
  }
}
